<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultLogPath" value="E:\Logs"/>
    <add key="AutoSaveLogs" value="true"/>
    <add key="FileNameDateFormat" value="dd_MM_yyyy_HH_mm_ss"/>
    <add key="FileExtension" value=".txt"/>
  </appSettings>
</configuration>